.keys {
    display: grid;
    gap: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
    grid-column-end: 3;
    grid-column-start: 1;
}

.keys button:nth-child(15) {
   grid-row: 4 / 6;
   grid-column: 4 / 4; 
}

.keys button:nth-child(16) {
    grid-column-end: 3;
    grid-column-start: 1;
}